@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Header */

.header {
  padding: 20px;
  padding-left: 40px;
  box-shadow: 0px 5px 10px #7c7a7a;
}

.mainMenu {
  display: flex;
}

.mainMenu__item:not(:last-child) {
  margin-right: 20px;
}

.mainMenu__label {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.active {
  color: #ff0000;
}

/* TrendMoviesPage */

.titleTrend {
  font-size: 30px;
  font-weight: 600;
}

.listTrendMovies {
  list-style: inside;
  padding-left: 20px;
}

.listTrendMovies__item:not(:last-child) {
  margin-bottom: 10px;
}

.listTrendMovies__link {
  color: rgb(0, 17, 255);
}

/* Search Movies */
.sectionForm {
  padding-top: 20px;
  padding-left: 10px;
}

.formMovies {
  margin-bottom: 20px;
}

.formMovies__field {
  width: 300px;
  height: 25px;
  margin-right: 5px;
}

.formMovies__btn {
  padding: 6px 6px;
}

/* One Movie */
.sectionOneMovie {
  padding-top: 25px;
}
.info {
  display: flex;
  box-shadow: 0px 3px 10px #7c7a7a;
  padding-bottom: 10px;
}
.poster {
  max-width: 230px;
}
.containerForInfo {
  margin-left: 15px;
}
.mainTitle {
  font-size: 30px;
}
.userScore {
}
.titleOverview {
  font-size: 23px;
}
.overview {
}
.titleGenres {
  font-size: 23px;
}

.listGenres {
  display: flex;
}
.listGenres__item:not(:last-child) {
  margin-right: 10px;
}

.listGenres__text {
}

/* Aditional information */
.navAddInfo {
  padding-left: 15px;
  padding-bottom: 20px;
  /* box-shadow: 0px 1px 10px #7c7a7a; */
}

.titleAddInfo {
  font-weight: 500;
}
.listInfo {
  list-style: inside;
}
.listInfo__item {
}
.listInfo__link {
}
